html {
	font-size: 15px;
}

body {
	font-family: Poppins, sans-serif;
	text-align: center;
	background-color: black;
	color: gray;
}

#image {
	max-width:100%;
	display: block;
	height: auto;
	margin: 0 auto; 
}
ul {
	list-style-type: square;
	text-align: center;
}
